body{
  margin: 0;
    width: 100%;
    height: 100%;
}
.installment-offer {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 1px;
    font: 700 70px Inria Serif, sans-serif;
  }
  .offer-container {
    border-radius: 30px;
    position: relative;
    display: flex;
    min-height: 965px;
    width:100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
  .offer-image {
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: 0;
    min-width: 240px;
    top: 154px;
  }
  label{cursor: pointer;}

  .image-overlay {
    z-index: 0;
    display: flex;
    min-width: 240px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    overflow-y: hidden;
    transition: all .5s ease;
  }
  .offer-text {
    font-size: 60px;
    background-blend-mode: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    color: #e3e3e3;
    position: absolute;
    z-index: 0;
    left: 70px;
    top: 261px;
  }
  .indicator {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    width: 15px;
    height: 15px;
  }
  .indicator-1 {
    right: 650px;
    bottom: 187px;
  }
  .indicator-2 {
    right: 710px;
    bottom: 187px;
  }
  .indicator-3 {
    left: 710px;
    bottom: 187px;
  }
  .indicator-4 {
    left: 650px;
    bottom: 187px;
  }
  .navigation-button {
    position: absolute;
    opacity: 0.3;
    z-index: 0;
    display: flex;
    width: 40px;
    height: 50px;
    background-color: #e3e3e3;
  }
  .navigation-icon {
    aspect-ratio: 0.67;
    object-fit: contain;
    object-position: center;
    width: 20px;
    background-blend-mode: overlay;
    position: absolute;
    z-index: 0;
    height: 30px;
  }
  .navigation-button-right {
    border-radius: 5px 0 0 5px;
    right: 0.5px;
    top: 456px;
  }
  .navigation-icon-right {
    right: 10px;
    top: 465px;
  }
  .navigation-icon-left {
    left: 8px;
    top: 465px;
  }
  .navigation-button-left {
    border-radius: 0 5px 5px 0;
    left:0.1px;
    top: 455px;
  }
  @media (max-width: 991px) {
    .installment-offer,
    .offer-container {
      font-size: 40px;
    }
  
    .offer-image {
      max-width: 100%;
    }
  
    .offer-text {
      max-width: 100%;
      font-size: 40px;
    }
  }
  /********************************************************/
  .pillow-section {
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    padding: 0 11px;
    font: 400 10px Inter, sans-serif;
  }
  .header {
    display: flex; 
    width: 100%; 
    max-width: 1027px;
    gap: 20px; 
    color: #000; 
    font-weight: 400; 
    white-space: nowrap; 
    flex-wrap: wrap; 
    justify-content: center; /* Cambiar esto a center para centrar el contenido */
  align-items: center; /* Asegura que los elementos estén centrados verticalmente */
  }
  .nav-item {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    top: 60px; 
    position: absolute;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .top-bar {
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 0;
    display: flex;
    min-width: 240px;
    left: 1px;
    width: 100%;
    height: 6%;
    top: 0;
  }
  .nav-bar {
    border-radius: 10px;
    background-color: #303775;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
    display: flex;
    min-width: 240px;
    /*width: 1465px;
    height: 51px;
    left: 1px;*/
    left: 1px;
    width: 100%;
    height: 6%;
    top: 100px;
  }
  .sub-nav {
    background-color: #fff;
    position: absolute;
    display: flex;
    min-width: 240px;
    height: 30px;
    top: 60px;
    justify-content: center;
    /*transform: translateX(100%);
    position: absolute;*/
    padding: 5px; /* Agrega padding para asegurar que el texto no toque los bordes */
    z-index: 2; 
  }
  .promo-text {
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    position: absolute;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    padding: 10px; /* Agrega padding para asegurar que el texto no toque los bordes */
    box-sizing: border-box; /* Incluye el padding dentro del tamaño del elemento */
}
  .slogan {
    /*transform: translateY(16%);
    left: -10px;*/
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    left: -10px;
    top: -278px;
  }
  .slogan::before {
    font-size: 18px;
    content: 'Las mejores almohadas de la region'; /* El texto que deseas insertar */
    color: #ffffff; /* Color del texto */
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(125deg, #E0E0E0, #493B21, #E0E0E0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: flex;
    width: 80px;
    height: 34px;
    /*left: 17px;*/
    top: 60px;
  }
  .logo-text {
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index:-1;
    left: 12px;
    top: -1px;
    font: 700 15px Inria Serif, sans-serif;
  }
  .logo-text::before {
    content: "PILLOW"; /* El texto que deseas insertar */
    position: absolute;
    z-index: -1;
    color: #ffffff; /* Color del texto */
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .footer {
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 0;
    display: flex;
    min-width: 240px;
    width: 100%;
    height: 25%;
    font: 400 10px Inter, sans-serif;
  }
  .footer-heading {
    color: #fff;
    font-size: 15px;
    position: absolute;
    z-index: 0;
    height: 18px;
  }
  .footer-link {
    position: absolute;
    z-index: 0;
    height: 12px;
    text-decoration: none;
    color: #fff;
  }
  .social-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: 0;
  }
  .search-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 602px;
    top: 117px;
    height: 20px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  @media (max-width: 991px) {
    .top-bar,
    .nav-bar,
    .footer {
      max-width: 100%;
    }
    .promo-text {
      max-width: 100%;
    }
.sub-nav { 
  
  /*max-width: 100%; white-space: initial; 
  transform: translateX(0%);*/
} 
  }
  /**********************************************************/
  .dropdownmenu ul, .dropdownmenu li {
	padding: 0;
}

.dropdownmenu ul {
  flex-direction: row;
  display: flex;
  transform: translateY(-50%);
  text-align: center;
  align-items: center;
	list-style: none;
}
.dropdownmenu li {
	float: center;
	position: relative;
	width:auto;
}
.dropdownmenu a {
  justify-content: center;
  align-items: center;
	color: #000000;
	display: block;
	font: bold 14px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
  color: #ffffff;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
  flex-direction: column;
  display: flex;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 80px;	/* adjust this as per top nav padding top & bottom comes */
  left: -1px;
	visibility: visible;
}
#submenu li {
	float: left;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
/****************************************************************************/
.ContainerCenter{
  width:100%;
  height: 100%;
  display: flex;
 /*margin-left: -5%;*/
  align-items: center;
  position:relative;
  flex-direction: row;
}
/* Slider */
.Carrusels{
  position: relative;
  overflow-x: hidden;
}
.tam{
  margin: 0;
  height: 850px;
  width: 2000px;
  z-index: 0;
  object-fit: contain;
  object-position: center;
  position:relative;
  top: 60px;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
  z-index: -1;
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(300%, 0);}

#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(200%, 0);}

#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(100%, 0);}

#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(0%, 0);}
/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
#Slider4:checked ~ .Carrusels .Arrow4{display: flex;}
/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
#Slider4:checked ~ .Selectors .Selector:nth-of-type(4) {background-color: #999999;}
/*********************************************************************************************/
.purchase-button-container {
  border-radius: 20px;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  color: rgba(235, 235, 235, 1);
  font: 700 20px Inria Serif, sans-serif;
}
.purchase-button {
  border-radius: 20px;
  background-blend-mode: normal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  flex-direction: column;
  border: #5AC4DB;
  opacity: 0.9;
}
.purchase-button-text {
  border-radius: 20px;
  width: 100%;
  padding: 18px 80px;
  color: #EBEBEB;
}
.color1{
  background: linear-gradient(135deg, #5AC4DB, #8ED5DE, #307575);
}
.color2{
  background: linear-gradient(135deg, #5E5E5E, #493B21);
}
