body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.resp{
  width: 100%;
  height: 100%;
}
.accessories-container {
  border-radius: 20px;
  display: flex;
  max-width: 957px;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
}
.section-title {
  color: #6c6c6c;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  align-self: flex-end;
  /*margin-right: 121px;*/
  font: 700 30px 'Inria Serif', serif;

  text-align: center;
  margin-left: 34%;
  margin-right: 34%;
}
.product-grid {
  margin-top: 28px;
  width: 100%;
  gap: 20px;
  display: flex;
}
.product-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: 'IM FELL French Canon', serif;
  color: #000;
  font-weight: 400;
}
.product-image {
  aspect-ratio: 1.31;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
}
.product-name {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
.product-price {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  margin-top: 10px;
}
.improve-rest-title {
  background-blend-mode: normal;
  color: #6c6c6c;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 512px;
  font: 700 30px 'Inria Serif', serif;

  text-align: center;
  margin-left: 34%;
  margin-right: 34%;

  margin-top: 10%;
}
/**/
      .featured-products {/*editar para responsive*/
        text-align: center;

  margin-left: 22%;
  margin-right: 22%;
  
        max-width: 957px;
        border-radius: 0;
      }
      .product-grid2 {
        display: flex;
        gap: 20px;
      }
      .product-column {
        display: flex;
        flex-direction: column;
        line-height: normal;
      }
      .product-column-1 {
        width: 28%;
      }
      .product-column-2 {
        width: 27%;
      }
      .product-column-3 {
        width: 45%;
      }
      .product-card2 {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        position: relative;
        width: 100%;
        align-items: start;
      }
      .product-image2 {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
      }
      .discount-badge {
        position: relative;
        border-radius: 6px;
        background-color: rgba(87, 48, 117, 1);
        color: #fff;
        padding: 3px 30px 11px;
        font: 700 12px Inria Serif, sans-serif;
      }
      .product-name2 {
        position: relative;
        color: rgba(124, 73, 73, 1);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        font: 400 20px 'IM FELL French Canon', -apple-system, Roboto, Helvetica, sans-serif;
      }
      .product-card-1 {
        aspect-ratio: 1.529;
        padding: 17px 52px 6px 23px;
      }
      .product-card-2 {
        aspect-ratio: 1.529;
        margin-top: 10px;
        padding: 16px 52px 8px 23px;
      }
      .product-card-3 {
        aspect-ratio: 0.706;
        flex-grow: 1;
        padding: 14px 49px 8px 16px;
      }
      .product-card-4 {
        aspect-ratio: 1.183;
        flex-grow: 1;
        padding: 14px 80px 8px 19px;
      }
      .product-name-1 {
        margin-top: 101px;
      }
      .product-name-2 {
        margin-top: 100px;
      }
      .product-name-3,
      .product-name-4 {
        margin-top: 300px;
      }
      .discount-badge-4 {
        margin-left: 13px;
      }
      .product-name-4 {
        color: rgba(124, 73, 73, 0.7);
      }
/**/
.product-section {
  margin-top: 3%;
  margin-left:38%;
  z-index: 2;
 /* display: flex;
  margin-top: 101px;
  width: 100px;
  max-width: 100%;
  flex-direction: column;*/
}
.product-name {
  z-index: 2;
  color: #7c4949;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font: 400 20px "IM FELL French Canon", -apple-system, Roboto, Helvetica, sans-serif;
}
.product-name-offset {
  align-self: flex-end;
  z-index: 2;
  color: rgba(124, 73, 73, 0.7);
}
.product-list {
  align-self: flex-end;
  z-index: 10;
  display: flex;
  width: 351px;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
  margin: -23px 30px 0 0;
  font: 400 20px "IM FELL French Canon", -apple-system, Roboto, Helvetica, sans-serif;
}

.featured-image {
  aspect-ratio: 1.53;
  object-fit: contain;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  min-width: 240px;
  left: 243px;
  top: 1241px;
  width: 260px;
  height: 170px;
}
.featured-image2 {
  aspect-ratio: 1.53;
  object-fit: contain;
  width: 260px;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  min-width: 240px;
  left: 243px;
  top: 1420px;
  height: 170px;
}
.featured-image3 {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 414px;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  min-width: 240px;
  right: 238px;
  top: 1241px;
  height: 350px;
}
.featured-image4 {
    aspect-ratio: 0.71;
    object-fit: contain;
    object-position: center;
    width: 247px;
    border-radius: 20px;
    position: absolute;
    z-index: 0;
    min-width: 240px;
    left: 560px;
    top: 1241px;
    height: 350px;
}
.installment-offer {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 1px;
    font: 700 70px Inria Serif, sans-serif;
  }
  .offer-container {
    border-radius: 30px;
    position: relative;
    display: flex;
    min-height: 965px;
    width:100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
  .offer-image {
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: 0;
    min-width: 240px;
    top: 154px;
  }
  label{cursor: pointer;}

  .image-overlay {
    z-index: 0;
    display: flex;
    min-width: 240px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    overflow-y: hidden;
    transition: all .5s ease;
  }
  .offer-text {
    font: 700 70px Inria Serif, sans-serif;
    font-size: 60px;
    background-blend-mode: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    color: #e3e3e3;
    position: absolute;
    z-index: 0;
    left: 70px;
    top: 261px;
  }
  .indicator {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    width: 15px;
    height: 15px;
  }
  .indicator-1 {
    margin-left: 620px;
    bottom: 187px;
  }
  .indicator-2 {
    margin-left: 700px;
    bottom: 187px;
  }
  .indicator-3 {
    margin-left: 780px;
    bottom: 187px;
  }
  .indicator-4 {
    margin-left: 860px;
   bottom: 187px;
  }
  .navigation-button {
    position: absolute;
    opacity: 0.3;
    z-index: 0;
    display: flex;
    width: 40px;
    height: 50px;
    background-color: #e3e3e3;
  }
  .navigation-icon {
    aspect-ratio: 0.67;
    object-fit: contain;
    object-position: center;
    width: 20px;
    background-blend-mode: overlay;
    position: absolute;
    z-index: 0;
    height: 30px;
  }
  .navigation-button-right {
    border: #e3e3e3;
    border-radius: 5px 0 0 5px;
    right: 0.5px;
    top: 456px;
  }
  .navigation-icon-right {
    right: 10px;
    top: 465px;
  }
  .navigation-icon-left {
    left: 8px;
    top: 465px;
  }
  .navigation-button-left {
    border: #e3e3e3;
    border-radius: 0 5px 5px 0;
    left:0.1px;
    top: 455px;
  }

/* Estilos para dispositivos móviles */
@media only screen and (min-height:350px) { /*minimo de altura*/

}
@media only screen and (min-width:620px) {

} 
@media (max-width: 991px) {
  .product-grid2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .product-column {
    width: 100%;
  }
  .product-card2 {
    margin-top: 18px;
    padding: 0 20px;
  }
  .product-name2 {
    margin-top: 40px;
  }
  .discount-badge {
    padding: 0 20px;
  }
  .discount-badge-4 {
    margin-left: 10px;
  }
  .section-title {
    max-width: 100%;
    margin-right: 10px;
  }
  .product-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .product-card {
    margin-top: 23px;
  }
  .top-bar,
  .nav-bar,
  .footer {
    max-width: 100%;
  }
  .promo-text {
    max-width: 100%;
  }
.sub-nav { 
/*max-width: 100%; white-space: initial; 
transform: translateX(0%);*/
} 
  .discount-tag {
    padding: 0 20px;
  }
  .product-section {
    margin-top: 40px;
  }
  .product-name-sabanas {
    margin: 40px 0 0 2px;
  }
  .product-list {
    margin-right: 10px;
    white-space: initial;
  }
  .installment-offer,
  .offer-container {
    font-size: 40px;
  }
  .offer-image {
    max-width: 100%;
  }
  .offer-text {
    max-width: 100%;
    font-size: 40px;
  }
}
@media only screen and (min-width: 1000px) {/*revisar por encima de 1200 para televisores*/

}
@media (max-width:1280px) {
  .product-name-3 {
    margin-top: 310px;
  }
      .product-name-4 {
        margin-top: 325px;
      }
  .resp{
    width: 50%;
    height: 50%;
  }
} 
@media only screen and (min-width: 1300px) {

}
@media only screen and (min-width: 1355px) {/*revisar por encima de 1200 para televisores*/
  
}
@media only screen and (min-width: 1400px) {/*revisar por encima de 1200 para televisores*/

}
@media only screen and (min-width: 1500px) {

}
@media only screen and (min-width: 1550px) {

}
  /********************************************************/
  .pillow-section {
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    padding: 0 11px;
    font: 400 10px Inter, sans-serif;
  }
  .header {
    display: flex; 
    width: 100%; 
    max-width: 1027px;
    gap: 20px; 
    color: #000; 
    font-weight: 400; 
    white-space: nowrap; 
    flex-wrap: wrap; 
    justify-content: center; /* Cambiar esto a center para centrar el contenido */
  align-items: center; /* Asegura que los elementos estén centrados verticalmente */
  }
  .nav-item {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    top: 60px; 
    position: absolute;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .top-bar {
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 0;
    display: flex;
    min-width: 240px;
    left: 1px;
    width: 100%;
    height: 6%;
    top: 0;
  }
  .nav-bar {
    border-radius: 10px;
    background-color: #303775;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;

    z-index: 10;
    display: flex;
    min-width: 240px;
    left: 0;
    width: 100%;
    height: 5%;
    top: 100px;
  }
  .sub-nav {
    position: absolute;
    z-index: 2;
    min-width: 240px;
    height: 30px;
    top: 45px;
    right: 50px;
    left: 50px;

    margin: 0 auto;
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px 30px; 

    justify-content: center;
    align-items: center;
  }
  .promo-text {
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    position: absolute;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    padding: 10px; /* Agrega padding para asegurar que el texto no toque los bordes */
    box-sizing: border-box; /* Incluye el padding dentro del tamaño del elemento */
}
  .slogan {    
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 10;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    top: 1px;
  }
  .slogan::before {
    font-size: 18px;
    content: 'Las mejores almohadas de la región '; /* El texto que deseas insertar */
    color: #ffffff; /* Color del texto */
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(125deg, #E0E0E0, #493B21, #E0E0E0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: flex;
    width: 80px;
    height: 34px;
    top: 55px;
    left: 0;
  }
  .logo-text {
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index:-1;
    left: 12px;
    top: -1px;
    font: 700 15px Inria Serif, sans-serif;
  }
  .logo-text::before {
    content: "PILLOW"; /* El texto que deseas insertar */
    position: absolute;
    z-index: -1;
    color: #ffffff; /* Color del texto */
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .footer {
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 0;
    display: flex;
    min-width: 240px;
    width: 100%;
    height: 28%;
    font: 400 10px Inter, sans-serif;
  }
  .footer-heading {
    color: #fff;
    font-size: 15px;
    position: absolute;
    z-index: 0;
    height: 18px;
  }
  .footer-link {
    position: absolute;
    z-index: 0;
    height: 12px;
    text-decoration: none;
    color: #fff;
  }
  .social-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: 0;
  }
  .search-icon {
    aspect-ratio: 1;
    width: 20px;
    height: 20px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  /**********************************************************/
  .dropdownmenu ul, .dropdownmenu li {
	padding: 0;
}
.dropdownmenu ul {
  flex-direction: row;
  display: flex;
  /*transform: translateY(-50%);
  text-align: center;
  align-items: center;*/
	list-style: none;
  float: center;
	position: relative;
  transform: translateY(-50%);
}
.dropdownmenu li {
	float: center;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	color: #000000;
  display: block;

	font: bold 14px/20px sans-serif;
	padding: 10px 25px;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
  color: #ffffff;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
  flex-direction: column;
  display: flex;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 80px;	/* adjust this as per top nav padding top & bottom comes */
  left: -1px;
	visibility: visible;
}
#submenu li {
	float: left;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
/****************************************************************************/
.ContainerCenter{
  width:100%;
  height: 100%;
  display: flex;
 /*margin-left: -5%;*/
  align-items: center;
  position:relative;
  flex-direction: row;
}
/* Slider */
.Carrusels{
  position: relative;
  overflow-x: hidden;
}
.tam{
  margin: 0;
  height: 850px;
  width: 2000px;
  z-index: 0;
  object-fit: contain;
  object-position: center;
  position:relative;
  top: 60px;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
  z-index: -1;
}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(300%, 0);}

#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(200%, 0);}

#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(100%, 0);}

#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-300%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-200%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
#Slider4:checked ~ .Carrusels .Carrusel:nth-of-type(4) {transform: translate(0%, 0);}
/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
#Slider4:checked ~ .Carrusels .Arrow4{display: flex;}
/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
#Slider4:checked ~ .Selectors .Selector:nth-of-type(4) {background-color: #999999;}
/*********************************************************************************************/
.purchase-button-container {
  border-radius: 20px;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  color: rgba(235, 235, 235, 1);
  font: 700 20px Inria Serif, sans-serif;
}
.purchase-button {
  border-radius: 20px;
  background-blend-mode: normal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  flex-direction: column;
  border: #5AC4DB;
  opacity: 0.9;
}
.purchase-button-text {
  border-radius: 20px;
  width: 100%;
  padding: 18px 80px;
  justify-items: center;
  color: #EBEBEB;
  font: 700 20px Inria Serif, sans-serif;
}
.color1{
  background: linear-gradient(135deg, #5D5ADB, #8E91DE, #303775);
}
.color2{
  background: linear-gradient(135deg, #5E5E5E, #493B21);
}
